<div id="grad">
    <div class="container" id="container">
      <div class="form-container log-in-container">
        <form action="#" [formGroup]="form" (ngSubmit)="onSubmit()">
          <h1>Zarejestruj się</h1>
          <input formControlName="email" [ngClass]="{'inputError': email.touched && email.invalid}" type="email" placeholder="Email" />
          <div class="validationError" *ngIf="email.touched && email.invalid">Email jest wymagany.</div>
          <input formControlName="password" [ngClass]="{'inputError': password.invalid && password.touched}" type="password" placeholder="Password" />
          <div class='validationError' *ngIf="password.invalid && password.touched && !password.value">To pole jest wymagane.</div>
          <div class='validationError' *ngIf="password.errors && password.errors.minlength && password.touched">Hasło musi mieć przynamniej 5 znaków.</div>
          <input formControlName="confirmPassword" [ngClass]="{'inputError': confirmPassword.invalid && confirmPassword.touched}" type="password" placeholder="Confirm your password" />
          <div class='validationError' *ngIf="confirmPassword.invalid && confirmPassword.touched && !confirmPassword.value">To pole jest wymagane.</div>
          <div class="validationError" *ngIf="confirmPassword.valid && form.errors.passwordsShouldMatch && form.invalid && confirmPassword.touched">Hasła muszą być identyczne.</div>
          <a href="#">Już posiadasz konto?</a>
          <button type="submit" >Zarejestruj</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-right">
            <h1>PURPLE TV</h1>
            <p>Darmowa telewizja internetowa umożliwiająca bezpłatne oglądanie, ocenianie i komentowanie filmów.  </p>
          </div>
        </div>
      </div>
    </div>
  </div>
