<div id="grad">
  <div class="container" id="container">
    <div class="form-container log-in-container">
      <form action="#">
        <h1>Login</h1>
        <div class="social-container">
<!--          TODO: ADD SOCIAL ICONS -->
          <a href="#" class="social">fb</a>
          <a href="#" class="social" (click)="loginWithGoogle()">google</a>
        </div>
        <span>or use your account</span>
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <a href="#">Forgot your password?</a>
        <button>Log In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <h1>PURPLE TV</h1>
          <p>Darmowa telewizja internetowa umożliwiająca bezpłatne oglądanie, ocenianie i komentowanie filmów.  </p>
        </div>
      </div>
    </div>
  </div>
</div>


