<div class="navbar">
    <header>
        <img class="logo" src="../../../assets/logo/Purple_Lagoon_logo.png">
        <nav>
            <ul class="nav__links">
                <li routerLink="/tv"><a>Programy</a></li>
                <li routerLink="/blog"><a>Blog</a></li>
                <li routerLink="/kontakt"><a>Kontakt</a></li>
                <li routerLink="/o-nas"><a>O nas</a></li>
            </ul>
        </nav>
        <div>
            <a *ngIf="!currentUser" class="navbar-text" routerLink="/zaloguj">Zaloguj się</a>
            <span *ngIf="currentUser" class="navbar-text">Witaj, {{currentUser.displayName ? currentUser.displayName : currentUser.email}}</span>
            <a *ngIf="currentUser" class="navbar-text" (click)="logOut()" routerLink="/zaloguj">Wyloguj się</a>
            <a *ngIf="!currentUser" class="navbar-text" routerLink="/rejestracja">Rejestracja</a>
        </div>
</header>
</div>

