<div id="grad">
  <div class="container" id="container">
    <div class="form-container log-in-container">
      <form action="#">
        <h1>Zaloguj się</h1>
        <div class="social-container">
         <button (click)="FacebookAuth()" class="loginBtn loginBtn--facebook">
          Zaloguj przez Facebook
        </button>
        <button (click)="loginWithGoogle()" class="loginBtn loginBtn--google">
          Zaloguj przez Google
        </button>
        </div>
        <span>lub użyj konta Purple.tv</span>
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <a routerLink="#">Zapomniałeś hasła?</a>
        <a routerLink="/register">Nie masz konta? Zarejestuj się!</a>
        <button (click)="logOut()">Zaloguj się</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <h1>PURPLE TV</h1>
          <p>Darmowa telewizja internetowa umożliwiająca bezpłatne oglądanie, ocenianie i komentowanie filmów. </p>
        </div>
      </div>
    </div>
  </div>
</div>
